@font-face {
    font-family: 'bold';
    src: url(../fonts/Inter-Bold.ttf);
}
@font-face {
    font-family: 'semibold';
    src: url(../fonts/Inter-SemiBold.ttf);
}
@font-face {
    font-family: 'medium';
    src: url(../fonts/Inter-Medium.ttf);
}
@font-face {
    font-family: 'regular';
    src: url(../fonts/Inter-Regular.ttf);
}
:root{
    --primary-color:#4CAF4F;
    --secondary-color:#263238;
    --info-color:#2194F3;

    --font-bold: 'bold';
    --font-semibold: 'semibold';
    --font-medium: 'medium';
    --font-regular: 'regular';
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.btnPrimary{
    background-color: var(--primary-color);
    border-radius: 6px;
    padding: 10px 20px;
    outline: none;
    border: none;
    color: #fff;
    font-size: 14px;
    font-family: var(--font-medium);
    text-decoration: none;
}
.btnGhost{
    background-color: transparent;
    padding: 10px 20px;
    outline: none;
    border: none;
    color: var(--primary-color);
    font-size: 14px;
    font-family: var(--font-medium);
    text-decoration: none;
}
.navbar .nav-link{
    font-family: var(--font-regular);
    font-size: 16px;
    color: var(--secondary-color);
}
.homeSlider{
}
.homeSlider .swiper-slide{
    background-color: #F5F7FA;
}
.homeSlider .swiper-slide img{
    width: 100%;
}
.homeSlider .swiper-slide h1{
    font-size: 64px;
    font-family: var(--font-semibold);
    color: #4D4D4D;
}
.homeSlider .swiper-slide h1 span{
    color: var(--primary-color);
}
.homeSlider .swiper-slide p{
    color: #717171;
    font-size: 16px;
    font-family: var(--font-regular);
}
.homeSlider .swiper-pagination-bullet-active{
    background-color: var(--primary-color);
}